*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input, a{
    outline: none;
}

.head {
    background: url("../img/header.png"), center, no-repeat;
    background-size: 100% auto;
    height: 115px;
    margin: -2px;
}

.discout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 100px;
}

.discout > h2{
    color: #FFFFFF;
    font-size: 34px;
    font-weight: 900;
    max-width: 60px;
}

.discout > p{
    color: #FFFFFF;
    font-size: 24px;
    max-width: 300px;
}


.main_box {
    display: flex;
    flex-direction: column;
}

.logo_and_search {
    display: flex;
    padding: 40px 100px;
    gap: 30px;
}

.search_box {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #939393;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.search_box > input{
    border: none;
    width: 50vw;
    font-size: 16px;
}


.catalog {
    padding: 10px;
    background-color: #A8AEC2;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 90px;
    padding: 0 200px;
}

.item {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.item:hover{
    color:rgba(0, 0, 0, .7);
}

.discout_information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{ 
    background: url("../img/main.png"), center, no-repeat;
    background-size: 100% auto;
    min-width: 1750px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 50vh;
    padding: 0 200px;
    margin-top: 40px;
}

.inform{
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 460px;
    padding: 50px 0;
}

.inform > p{
    font-size: 24px;
}

.discout_box {
    display: flex;
    flex-direction: row;
    gap: 100px;
}


.discout_numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 36px;
    color: #FFFFFF;
    padding: 20 0px;
}


.discout_infr {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    padding: 10px 0 0;
    color: #FFFFFF;
    
}

.promo {
    margin: 10px 20px 50px;
    background-color: #000000;
    max-width: 100px;
    border-radius: 25px;
    padding: 10px 15px;
    text-align: center;
}